@{
    ViewData["Title"] = "Home Page";
}

@*bring in a list of the individual bowlers. I have done this by creating a table with each bowler's info'*@
@model List<Bowler>

<div class="row">
    <div class="col-2">

        <h5>Sort by Team:</h5>
        @* this dynamically creates tags for each team *@
        <div team-blah="" page-action="Index" teams="@ViewBag.Teams" current-id="@ViewBag.CurrentTeamID" page-classes-enabled="true"
             page-class="btn w-100 mb-2" page-class-normal="btn-outline-dark" page-class-selected="btn-primary"></div>

    </div>
    <div class="col">
        @* display the name of the team *@
        @if (ViewBag.CurrentTeamID == 0)
        {
            <h1>Bowler Contact List for All Teams:</h1>
        }
        else
        {
            <h1>Bowler Contact List for the @ViewBag.Teams[ViewBag.CurrentTeamID - 1].TeamName:</h1>
        }



        <table class="table table-striped">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Middle Initial</th>
                    <th>Last Name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip</th>
                    <th>Phone</th>
                    <th><a class="btn btn-success" asp-action="AddBowler">Add New Bowler</a></th>

                </tr>
            </thead>

            <tbody class="">

                @foreach (var x in Model)
                {
                    <tr>
                        <td>@x.BowlerFirstName</td>
                        <td>@x.BowlerMiddleInit</td>
                        <td>@x.BowlerLastName</td>
                        <td>@x.BowlerAddress</td>
                        <td>@x.BowlerCity</td>
                        <td>@x.BowlerState</td>
                        <td>@x.BowlerZip</td>
                        <td>@x.BowlerPhoneNumber</td>
                        <td>
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@x.BowlerID">Edit</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@x.BowlerID">Delete</a>
                        </td>

                    </tr>
                }

            </tbody>

        </table>
    </div>
</div>