@{
    ViewData["Title"] = "Home Page";
}

@*bring in a list of the individual bowlers. I have done this by creating a table with each bowler's info'*@
@model List<Bowler>

<h1>Bowlers</h1>
<br />
<a asp-controller="Home" asp-action="AddBowler">Add a Bowler</a>

<table class="table table-bordered table-striped">

    <thead class="font-weight-bold">
        <tr>
            <td>Name</td>
            <td>Address</td>
            <td>City</td>
            <td>State</td>
            <td>Zip</td>
            <td>Phone Number</td>
        </tr>
    </thead>

    <tbody>
        @foreach (Bowler b in Model)
            {
                <tr>
                    <td>@b.BowlerFirstName @b.BowlerMiddleInit @b.BowlerLastName</td>
                    <td>@b.BowlerAddress</td>
                    <td>@b.BowlerCity</td>
                    <td>@b.BowlerState</td>
                    <td>@b.BowlerZip</td>
                    <td>@b.BowlerPhoneNumber</td>

                    <td>
                        <a asp-controller="Home" asp-action="Edit" asp-route-BowlerIdNumber="@b.BowlerID">Edit</a>
                    </td>
                    <td>
                        <a asp-controller="Home" asp-action="Delete" asp-route-BowlerIdNumber="@b.BowlerID">Delete</a>
                    </td>
                </tr>
            }
    </tbody>

</table>


